body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input, textarea {
  display: block;
  margin: 1rem;
  padding: 0.375rem 0.75rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 0.375rem;
  width: 100%;
  max-width: 32rem;
}

button {
  display: inline-block;
  margin: 1rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  border: 1px solid rgb(57, 155, 198);
  border-radius: 0.375rem;
  background-color: rgb(57, 155, 198);
  -webkit-transition: background-color 0.15s linear;
  -ms-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear,
    border-color 0.15s linear;
}

button:hover {
  cursor: pointer;
  background-color: rgb(46, 125, 159);
  border-color: rgb(46, 125, 159);
}

#contact-form-error-message {
  color: rgb(220, 53, 69);
  margin: 1rem;
  font-weight: 500;
}

#contact-form-success-message {
  color: rgb(13, 110, 253);
  margin: 1rem;
  font-weight: 500;
}

#contact-form-spinner {
  overflow: hidden;
}

#contact-form-spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: rgb(57, 155, 198);
  background: -moz-linear-gradient(left, #399bc6 10%, rgba(57, 155, 198, 0) 42%);
  background: -webkit-linear-gradient(left, #399bc6 10%, rgba(57, 155, 198, 0) 42%);
  background: -o-linear-gradient(left, #399bc6 10%, rgba(57, 155, 198, 0) 42%);
  background: -ms-linear-gradient(left, #399bc6 10%, rgba(57, 155, 198, 0) 42%);
  background: linear-gradient(to right, #399bc6 10%, rgba(57, 155, 198, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#contact-form-spinner:before {
  width: 50%;
  height: 50%; 
  background: rgb(57, 155, 198);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

#contact-form-spinner:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
